

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shopping Cart</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">cart<span class="badge bg-success"id="cartcount">{{cartcount}}</span></a>
          </li>
          <li class="nav-item">
            {{#if user}}
            <a class="nav-link" href="/order">Orders</a>
              {{else}}
              {{/if}}          
          </li>
          
        </ul>
        
    <div class="dropdown">
  <button class="dropbtn">
    {{#if user}}

    {{user.Name}}
    {{else}}
    Account
    {{/if}}
    
    </button>
  <div class="dropdown-content">
    
    {{#if user}}
   <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    </a>
    {{!-- <a href="/signup">Signup</a> --}}
    {{!-- <a href="#">Link 3</a> --}}
  </div>
</div>

      </div>
    </div>
  </nav>
</header>